@model IEnumerable<PizzaButikenOnline.Models.Dish>

@{
    ViewData["Title"] = "Index";
}

<h2>Rätter</h2>

<p>
    <a class="btn btn-default" asp-action="Create">Skapa ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Hantera
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Redigera", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
                </td>
                <td>
                    @if (item.IngredientDish != null)
                    {
                        <p>
                            @foreach (var ingredient in item.IngredientDish)
                            {
                                @ingredient.Ingredient.Name <span> </span>
                            }
                        </p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
